---
---

$bp-tablet: 768px;

body {
    margin: auto;
    margin: 24px;

    @media(min-width: $bp-tablet) {
        margin: 60px auto;
        width: 70%;        
    }
    
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    padding: 7px;
    margin: -7px;
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
    color: #1FA160;
}

a#secret {
    padding: 10px;
    margin: -10px;
    float: right;
    opacity: 0;
}

a#secret:hover {
    float: right;
    opacity:1;
    text-decoration: underline;
    color: #EA7566;
}

h1 {
    font-size: 2em;
    max-width: 800px;
    font-family:'Noto Serif', 'Arial', 'Sans-Serif';
    margin: 32px 0;

    @media(min-width: $bp-tablet) {
        font-size: 3em;
        margin: !important;
    }
}

p {
    font-size: 1.3em;
    line-height: 1.2em;
    max-width: 90%;
    font-family: 'Open+Sans', sans-serif;
    color: #333;

    @media(min-width: $bp-tablet) {
        font-size: 1.5em;
        line-height: 1.35em;
        max-width:  620px;
    }    
}

p#about {
    max-width: 800px;
}
footer {
    border-top: 1px solid #d5d5d5;
    max-width: 875px;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.tester {
    font-family: 'Open+Sans';
    font-size: 1em;
}