<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    			<li><a target="_blank" href="/assets/Rastogi_Ankur_S19.pdf">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ankurras@usc.edu">Email</a></li>
	        		<li><a href="https://github.com/arastogi15">GitHub</a></li>
	        		<li><a href="https://www.linkedin.com/in/ankur-rastogi/">LinkedIn</a></li>
	        		<li><a id="secret" target="_blank" href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX0SM0LYsmbMT?si=Jfz_MzM6TT2dPCnbubvFbg"> ♫ Secret Study Beats ♫</a></li>
				</ul>
			</footer>
		</body>
	</html>