<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico">
			<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
			<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

			<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta property='og:title' content="Ankur Rastogi"/>
			<meta property='og:image' content="{site.url}/assets/og-image.png"/>
			<meta property='og:description' content="Come learn about me!"/>
			<meta property='og:url' content="http://ankurrastogi.me" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    			<li><a target="_blank" href="/assets/Rastogi_Ankur_S20.pdf">Resume</a></li>
	        		<li><a href="/explorations">Explorations</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:ank.rastogi15@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/arastogi15">GitHub</a></li>
	        		<li><a href="https://www.linkedin.com/in/ankur-rastogi/">LinkedIn</a></li>
	        		<li><a id="secret" target="_blank" href="https://open.spotify.com/playlist/0EA5ZSA5YNPIPN7v4Kn10A?si=IdlMppyFQoKCmPGuJ8GMBg"> ♫ Some Noises I Like ♫</a></li>
				</ul>
			</footer>
		</body>
	</html>